* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url(/esercizi/esercizio3/img/24613_zwp6.jpg);
    background-size: contain;
}
